<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="../assets/style.css">
<title>Document</title>
</head>  
<body> 
    <div class="container">
        <input hidden type="checkbox" name="" id="flip">
        <div class="cover">  
            <div class="front"> 
                <img src="../assets/img/login-front.jpg" alt="">
                <div class="text"> 
                    <span class="text-1">Every new friend is new adventure</span>
                    <span class="text-2">Lets get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="../assets/img/login-back.jpg" alt="">
                <div class="text"> 
                    <span class="text-1">Complete miles of journey with one step</span>
                    <span class="text-2">Lets get started</span>
                </div>
            </div>
        </div>
        <form action="#">
<div class="form-content">
    <div class="login-form">
        <div class="title"> Login </div>
        <div class="input-boxes">
            <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter your email" class="text" required>
            </div>
            <div class="input-box">
                <i class="fas fa-key"></i>
                <input type="password" placeholder="Enter your password" class="text" required>
            </div>
            <div class="text"><a href="#">Forgot Password</a></div>
            <div class="button input-box">
                <input type="submit" value="Submit">
            </div>
            <div class="text login-text">Dont have an account ? <label for="flip">Signup Now</label></div>
        </div>
    </div>

    <div class="signup-form">
        <div class="title"> Signup </div>
        <div class="input-boxes">
            <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="email" placeholder="Enter your name" class="text" required>
            </div>
            <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter your email" class="text" required>
            </div>
            <div class="input-box">
                <i class="fas fa-key"></i>
                <input type="password" placeholder="Enter your password" class="text" required>
            </div>
            <div class="button input-box">
                <input type="submit" value="Submit">
            </div>
            <div class="text sign-up-text">Already have an account ? <label for="flip">Login Now</label></div>
        </div>
    </div>            
</div>
        </form>
    </div>
</body>
</html>